/* GENERELT */
* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}
main {
  margin: 0 auto;
  max-width: 1200px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: rgb(30, 0, 52);
}

h1 {
  font-family: "modesto-condensed";
  color: white;
  font-size: 3.5vw;
  padding-bottom: 1.5vw;
}
p {
  font-family: "forma-djr-micro";
  color: white;
  font-size: 2vw;
}

iframe,
video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

/* ONE GRID TO RULE THEM ALL */
.grid_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* GRID 1 */
.grid_1_1 {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / span 2;
}
/* tekst */
.element_1 {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  align-self: top;
  padding-left: 2vw;
}

/* billede */
.element_2 {
  display: grid;
  object-fit: cover;
  grid-column: 1 / span 2;
  grid-row: 1 / 5;
  object-fit: cover;
}

/* GRID 2 */
.grid_1_2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1 / span 2;
}
/* billede */
.element_3 {
  display: grid;
  grid-column: span 1;
  object-fit: cover;
}
/* video */
.element_4 {
  display: grid;
  grid-column: 2 / span 1;
  object-fit: cover;
}

/* GRID 3 */
.grid_1_3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 1 / span 2;
}
/* video */
.element_5 {
  display: grid;
  grid-column: span 1;
  object-fit: cover;
}
/* billede */
.element_6 {
  display: grid;
  grid-column: 2 / span 1;
  object-fit: cover;
}

/* GRID 4 */
.grid_1_4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / span 2;
}
/* billede */
.element_7 {
  display: grid;
  object-fit: cover;
  grid-column: span 2;
}

/* GRID 5 */
.grid_1_5 {
  grid-template-columns: 1fr;
  display: grid;
  object-fit: cover;
  grid-column: span 2;
  align-items: center;
}

/* GRID 6 */
.grid_1_6 {
  display: grid;
  grid-column: span 2;
  margin-top: 3vw;
  margin-bottom: 2vw;
}

.flex_row {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  display: flex;
  width: 50px;
  height: 50px;
}

.icon:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  p {
    font-size: 3.5vw;
  }
  h1 {
    font-size: 6vw;
    padding-top: 1.5vw;
  }
  .element_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
  }
}

footer {
  text-align: center;
  color: white;
  font-family: "modesto-condensed";
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  position: sticky;
  top: 100vh;
  padding-top: 4vw;
}
footer p {
  max-width: none;
}
